.App-header {
  position: relative;
  height: 250px; }
  .App-header .App-particle {
    height: 100%; }
  .App-header .App-header-body {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .App-header .App-header-body .App-header-info {
      flex-direction: column;
      text-align: center;
      justify-content: center; }
      .App-header .App-header-body .App-header-info .App-subtitle {
        font-size: 1em;
        margin-bottom: 0;
        margin-top: 0;
        font-style: italic;
        font-weight: initial; }
  .App-header .App-line {
    height: 1px;
    width: 100%;
    background-color: darkred; }
